<form class="form-inline">
  <div class="form-group">
    <label for="first-name">First Name:</label>
    <input type="text" id="first-name" class="form-control mx-sm-3" aria-describedby="FirstName">
  </div>
</form>
<form class="form-inline">
  <div class="form-group">
    <label for="last-name">Last Name:</label>
    <input type="text" id="last-name" class="form-control mx-sm-3" aria-describedby="LastName">
  </div>
</form>
<form class="form-inline">
  <div class="form-group">
    <label for="employee-id">Employee ID:</label>
    <input type="text" id="employee-id" class="form-control mx-sm-3" aria-describedby="EmployeeID">
  </div>
</form>
<br>
<div>
  <button type="button" class="btn btn-primary">Add</button>
  &nbsp;
  <button type="button" class="btn btn-dark">Reset</button>
</div>
<div class="dropdown-divider"></div>

<form class="form-inline">
  <div class="form-group">
    <input type="text" id="search" class="form-control mx-sm-3" aria-describedby="Search" placeholder="Search...">
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div>
    Sort:
    <button type="button" class="btn btn-secondary">First Name</button>&nbsp;
    <button type="button" class="btn btn-secondary">Last Name</button>&nbsp;
    <button type="button" class="btn btn-secondary">Id</button>&nbsp;
  </div>
</form>