<form class="form-inline">
  <div class="form-group">
    <label for="project">Project:</label>
    <input type="text" id="project" class="form-control mx-sm-3" aria-describedby="ProjectName">
    <button type="button" class="btn btn-info">Search</button>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div>
    Sort Task By:
    <button type="button" class="btn btn-secondary">Start Date</button>&nbsp;
    <button type="button" class="btn btn-secondary">End Date</button>&nbsp;
    <button type="button" class="btn btn-secondary">Priority</button>&nbsp;
    <button type="button" class="btn btn-secondary">Completed</button>&nbsp;
  </div>
</form>

<div class="dropdown-divider"></div>